extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Emma Willmann

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am a Full Stack JavaScript Developer, creating websites that meet the needs of the client and the user.   
            | Part of being a developer of websites and applications includes being able to grow and adapt to new technologies as they are developed in order to create the best final projects.  
            | My natural curiousity makes this perfect for me, as I continually learn new things.  This helps me to create websites that are dynamic, and work well for both the client and the end user.  
            | My goal is to help you have the website that is perfect for your needs. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScrpt
          li HTML
          li CSS
          li Peer Reviews 
          li PHP
        h6 Contact Info

        ul
          li 920-737-7744
          li emma.anne.81@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/emma-willmann-073bb945/') LinkedIn
        a.button.expanded(href='https://github.com/awillem') GitHub
        a.button.expanded(href='https://twitter.com/KitPepperwig') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  